@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Azeret Mono", monospace;
}
/* header start  */
.start{
    background-image: url("../assets/Hero-bg.png");
    height: 650px;
    width: 1400px;
    text-align: center;
    justify-content: center;
    margin: 20px auto;
}
.group{
    padding-top: 50px;
}
.future{
    font-weight: 800;
    font-size: 45px;
    padding: 0 100px;
}
.button{
    background-color: black;
    color: white;
    border-radius: 9px;
    padding: 20px 20px;
    font-size: 22px;
}
.developer{
    color: rgba(10, 10, 10, 0.363);
    padding: 0 200px;
}
/* header end  */
/* main start  */
.section-1{
    border-radius: 14px;
    height: 1300px;
    width: 1100px;
    margin: auto;
    margin-top: 50px;  
    background-color: rgba(13, 19, 33, 0.041);  
}
.first-content{
    text-align: center;
    padding-top: 20px;
}
.title{
    font-size: 30px;
    font-weight: 700;
}
.second-content{
    background-color: white;
    display: flex;
    border-radius: 20px;
    width: 900px;
    margin: 0 auto;
    /* padding: 50px 200px 100px 50px; */

}
.second-description{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 400px;
    height: 200px;
    padding: 50px 200px 100px 50px;
}
.btn{
    width: 120px;
    font-size: 20px;
    padding: 10px 5px;
}
.third-content{
    margin-top: 40px;
}
.fourth-content{
    margin-top: 40px;
}
.section-2{
    width: 1100px;
    height: 700px;
    text-align: center;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}
.inspire{
    font-weight: 700;
    font-size: 33px;
}
.tube{
    border-radius: 20px;
    padding-top: 40px;
}
.section-3{
    width: 1100px;
    height: 460px;
    margin: 30px auto;
}
.target{
    text-align: center;
}
.sec-3-title{
    font-weight: 800;
    font-size: 30px;
}
.learn-link{
    display: flex;
    flex-direction: row;
    align-self: stretch;
    margin-top: 50px;
    position: static;

}
.link-1{
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 15px;
    width: 350px;
    height: 280px;
    padding: 20px 20px;
    margin: 0 20px;
}
.link-2{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 15px;
    width: 350px;
    height: 280px;
    padding: 20px 20px;
    margin: 0 20px;

}
.link-3{
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 15px;
    width: 350px;
    height: 280px;
    padding: 20px 20px;
    margin: 0 20px;

}
.l-description{
    color: rgba(10, 10, 10, 0.507);
}
.all-link{
    color: black;
    font-size: 15px;
    font-weight: 600;
}
.subtitle{
    font-weight: 800;
    font-size: 22px;
}
.section-4{
    background-image: url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    color: white;
    width: 1300px;
    height: 600px;
    margin: 50px auto;
    border-radius: 15px;
    text-align: center;
}
.sec-4-details{
    padding-top: 150px;
}
.sec-4-title{
    font-weight: 700;
    font-size: 35px;  
}
.feedback{
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    width: 300px;
    padding: 15px 200px 15px 8px;
}
.submit{
    padding: 12px 15px 12px 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
}
/* main end  */